@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


html {
  font-family: 'Ubuntu', sans-serif;
}

table {
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px black;
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
  color:rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
}

a {
  color: rgb(146, 168, 199);
}

.title {
  font-size: larger;
  padding: 1rem;
}

th, td {
  padding: .5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

thead tr:first-child {
  background-color: rgb(253, 221, 166);
}

thead tr:last-child {
  background-color: rgb(255, 239, 195);
}

tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

tbody tr th:first-child {
  background-color: rgb(255, 239, 195);
}

tbody tr td:last-child,
tfoot tr td:last-child {
  text-align: center;
}

tfoot tr {
  background-color: rgb(182, 228, 182);
}

@media only screen and (max-width: 35rem) {

  table {
    margin: auto;
  }

  tbody tr th:first-child {
    writing-mode: vertical-rl;
    white-space: nowrap;
  }

}