@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Josefin+Sans&display=swap');


:root {
  /* Strong Colors */
  --orange: #FF6B35;
  --blue: #1A659E;
  --darkblue: #004E89;

  /* Light Colors */
  --peach: #F7C59F;
  --beige: #EFEFD0;
}


/* ----- HEADER STYLING ----- */

html {
  background-color: var(--beige);
  padding: 0;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Heebo', sans-serif;
}

header {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 140px 3% 1fr;
  grid-template-rows: auto;
}

#nav-top {
  background-color: var(--peach);
  grid-column: 1/4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 140px 3% 1fr;
  height: 3rem;
}

#logo {
  max-width: 120px;
  position: absolute;
  left: 10px;
  z-index: 2;
}

#nav-top nav {
  display: flex;
  grid-column: 2/4;
}

nav button {
  background: transparent;
  border: none;
  color: var(--darkblue);
}

#stack-top {
  font-size: 2rem;
  margin-left: auto;
  margin-right: 1vw;
}

#stack-bottom {
  font-size: 1.5rem;
  margin: auto 10px 10px auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--darkblue);
  font-size: 110%;
}

#main-nav {
  display: flex;
  align-items: center;
  padding: .5rem 0;
}

#main-nav li {
  padding: 0 4vw;
}

#lower {
  background-color: whitesmoke;
  grid-column: 3;
  display: grid;
  grid-template-columns: 1fr 20%;
  z-index: 2;
}

#lower-nav {
  grid-column: 1;
  margin: 0;
  padding: 7px;
}

#lower-nav li {
  padding: .5rem 2vw;
  border-bottom: 1px solid rgba(0,0,0,.3);
}

#lower-nav li:last-of-type {
  border-bottom: none;
}

.hidden {
  display: none;
}

.large {
  display: none;
}


/* ----- MAIN BODY STYLES ----- */

#banner {
  background-color: #ccc;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 3rem;
  z-index: 1;
}

#banner p {
  margin: 300px 20px 0;
}