/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

  .large {
    display: inline-block;
  }

  #stack-top,
  #stack-bottom,
  #lower,
  #lower-nav {
    display: none;
  }

  #logo {
    max-width: 200px;
  }

  header,
  #nav-top {
    grid-template-columns: 240px 10px 1fr;
  }

  #nav-top nav {
    grid-column: 3;
  }

  #nav-top nav ul {
    width: 100%;
    display: flex;
    /* grid-template-columns: repeat(7, 1fr); */
  }

  #nav-top nav ul li {
    padding: 0;
  }

  
  /* ----- MAIN STYLING ----- */


  #index {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 1fr auto;
  }

  section {
    margin: 5px;
    border-radius: 10px;
  }

  #banner {
    grid-column: 1/3;
    grid-row: 1;
    margin-right: 5px;
  }

  #join {
    right: 35%;
  }

  #showcase {
    grid-column: 3;
    grid-row: 1/3;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr 1fr;
    padding-bottom: 5px;
  }

  #bus1 { grid-row: 2; }
  #bus2 { grid-row: 3; }
  #bus3 { grid-row: 4; }

  #news {
    grid-column: 2;
    grid-row: 2;
  }

  #events {
    grid-column: 1;
    grid-row: 2/4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr 1fr;
  }

  #events h3 {
    grid-column: 1/3;
  }

  #event1 { grid-column: 1; grid-row: 2; }
  #event2 { grid-column: 2; grid-row: 2; }
  #event3 { grid-column: 1; grid-row: 3; }
  #event4 { grid-column: 2; grid-row: 3; }
  #event5 { grid-column: 1; grid-row: 4; }
  #event6 { grid-column: 2; grid-row: 4; }

  #join-now {
    grid-column: 2;
    grid-row: 3;
    background-image: url("../images/index/street_sign-1000w.jpg");
  }

  #weather {
    grid-column: 3;
    grid-row: 3;
    padding: 10px;
    margin-left: 5px;
  }

  .label p {
    font-size: 100%;
  }



  /* ----- FOOTER STYLING ----- */

  #main-footer {
    width: 80%;
    margin: 1rem auto;
  }


  /* ----- DISCOVER PAGE STYLING ----- */

  #discover {
    padding-top: 2rem;
  }

  #discover h1 {
    margin-left: 17rem;
  }

  .gallery:hover {
    max-width: 800px;
  }

  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
  /* ----- ----- ----- ----- JOIN PAGE STYLING ----- ----- ----- ----- */
  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

  #joinpage {
    width: 80%;
  }


  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
  /* ----- ----- ----- ----- DIRECTORY PAGE STYLING ----- ----- ----- ----- */
  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

  .cards {
    max-width: 1000px;
  }

  .directoryTitle {
    margin-top: 5rem;
  }

  .buttons {
    display: none;
  }

  .list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    width: 90%;
    padding: 1.5rem;
    font-size: 100%;
  }

  .list section {
    flex-direction: column;
    box-shadow: 0 0 30px #999;
    background-color: whitesmoke;
    border: 2px solid var(--peach);
    padding: 1rem;
    margin: 5px;
    border-radius: 1rem;
  }

  .list img {
    display: block;
  }

  .list section:nth-child(odd) {
    background-color: whitesmoke;
  }


} /*end large */