/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

  #logo {
    max-width: 160px;
    left: 20px;
  }

  header {
    grid-template-columns: 200px 3% 1fr;
  }

  #nav-top {
    grid-column: 1/5;
    grid-template-columns: 200px 3% 1fr;
  }

  #lower {
    grid-template-columns: 1fr 10%;
    width: 65vw;
  }

  #date2 {
    margin-top: 12px;
    margin-left: 3vw;
  }

  #lower-nav {
    margin: 0px;
    padding: 0;
  }

  #lower-nav li {
    display: inline;
    border-bottom: none;
    border-right: 1px solid #ccc;
  }

  #lower-nav li:last-of-type {
    border-right: none;
  }

  #lower-nav .social img {
    top: 10px;
  }

  #stack-bottom {
    margin: auto;
  }


  /* ----- MAIN STYLING ----- */

  #index {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
  }

  #banner { grid-column: 1/3; grid-row: 1; }
  #news { grid-column: 1/3; grid-row: 2; }
  #showcase { grid-column: 1/3; grid-row: 3; }
  #join-now { grid-column: 1; grid-row: 4; margin-right: 2px;}
  #weather { grid-column: 2; grid-row: 4; }
  #events { grid-column: 1/3; grid-row: 5; }

  #join-now {
    background-image: url("../images/index/street_sign-700w.jpeg");
  }

  #banner {
    background-image: url("../images/index/arlington_downtown-1000w.jpg");
  }

  #banner h1 {
    font-size: 2rem;
    padding-left: 60px;
  }

  .join {
    font-size: 1.5rem;
    padding: 12px 30px 10px;
  }

  #showcase {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #showcase div {
    padding: 15px;
  }

  #bus3 {
    display: block;
  }

  .label p {
    font-size: 80%;
  }

  #events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr;
    gap: 15px;
    padding: 10px;
  }

  #events div {
    margin: 0;
  }

  #events h3 { grid-column: 1/4; grid-row: 1; }

  #weather {
    margin-left: 0;
  }


  /* ----- FOOTER STYLING ----- */

  #main-footer {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto;
  }

  #first-footer {
    margin-left: 1rem;
    text-align: start;
  }

  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
  /* ----- ----- ----- ----- DISCOVER PAGE STYLING ----- ----- ----- ----- */
  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

  #discover {
    padding-top: 8rem;
  }

  #discover h1 {
    margin-left: 6vw;
  }

  .gallery {
    position: relative;
    text-align: center;
    max-width: 650px;
    transition: .3s ease-in-out;
  }

  .description {
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: .3s ease-in-out;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
  }

  .gallery:hover {
    max-width: 700px;
  }

  .gallery:hover .description {
    opacity: 1;
  }

  #joinpage {
    margin-top: 8rem;
  }


  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
  /* ----- ----- ----- ----- DIRECTORY PAGE STYLING ----- ----- ----- ----- */
  /* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

  .directoryTitle {
    margin: 9rem auto 2rem;
  }

  .cards {
    margin: auto;
    padding: 1.5rem;
  }

  .list {
    padding: 0;
  }

  .list section{
    flex-direction: row;
    gap: 10px;
  }


} /*end medium */


@media only screen and (min-width: 47rem) {

  #banner h1 {
    padding-top: 240px;
  }

  #joinpage {
    margin: 8rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 50px auto auto;
  }

  #joinpage h1 {
    grid-column: 1/3;
    grid-row: 1;
    margin: auto;
  }

  .membership {
    display: block;
    grid-column: 2;
    grid-row: 3/5;
  }

  .membership div {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  #joinpage form {
    grid-column: 1;
    grid-row: 3;
  }

  .contactHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

}