@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Playfair+Display:wght@400&display=swap');

:root {
  /* Colors */
  --orange: #ffac81;
  --pink: #ff928b;
  --peach: #fec3a6;
  --yellow: #efe9ae;
  --green: #cdeac0;
}

.orange { background-color: var(--orange); }
.pink { background-color: var(--pink); }
.peach { background-color: var(--peach); }
.yellow { background-color: var(--yellow); }
.green { background-color: var(--green); }


/* ============= GENERAL STYLING ============= */

html {
  background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

p, a, span, label, li, input {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
  width: 90%;
  padding: .5rem;
  border-bottom: 2px solid black;
  margin: 2rem auto;
}

section, h1, h2 {
  max-width: 50rem;
}

section {
  margin: 5rem auto;
}

section.thin {
  margin: 2rem auto;
}

.thick {
  padding: 2rem 0;
}

.low {
  margin-top: 5rem;
}

.background {
  padding: 2rem 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

li {
  word-wrap: break-word;
}


/* ============= HEADER STYLING ============= */

.header {
  padding: 1rem 2rem 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: var(--yellow);
}

header img,
.contact img {
  max-height: 7rem;
}

header a {
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

header a:hover{
  background-color: var(--pink);
}

header h2,
.contact h2 {
  border: none;
  font-size: 250%;
  width: 100%;
  margin: 0;
  text-align: center;
}

header h3,
.contact h3 {
  font-size: 180%;
  margin: 0;
  width: 100%;
}

header form {
  width: 100%;
  max-width: 53rem;
  margin: -10px auto 0;
  display: flex;
  flex-direction: column;
}

header label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 225px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 100%;
  padding: 5px;
  margin: 0 auto 1rem;
}

.form-date input {
  width: 130px;
}

.form-smaller {
  width: 140px;
}

.form-smaller input {
  width: 40px;
}

.form-send {
  width: 150px;
  margin: 0 auto 1rem;
  padding: 9px;
  background-color: var(--green);
  border: 1px solid black;
  border-radius: 5px;
}

.form-send:hover {
  background-color: var(--pink);
}


/* ============= BODY STYLING ============= */

.grid-3 div {
  border: 1px solid black;
  min-height: 150px;
}

.link {
  padding: .5rem 1rem;
  border: 2px solid var(--pink);
  background-color: var(--yellow);
  border-radius: 15px;
}

.link:hover {
  background-color: var(--pink);
}

#redlands {
  background-image: url("../images/index/redlands.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.first h4 {
  width: 200px;
  float: right;
  font-size: 150%;
  margin: 1rem;
}

.first a {
  margin: 0 3rem 1rem 1rem;
  float: right;
}

.first p {
  color: white;
  margin-right: 1rem;
}

#visitors-center {
  background-image: url("../images/index/visitors-center.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#make-res {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--green);
}

#make-res h3 {
  margin: 1rem 0 0;
  font-size: 150%;
}

#make-res a {
  margin-bottom: 1rem;
}

.grid-2 div {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.grid-2 p {
  text-align: center;
}

.grid-2 ul {
  margin-right: 2rem;
}

.grid-2 a {
  margin: 1rem;
}

.grid-2 img {
  display: none;
}

#temple-desc {
  background-image: url("../images/temples/seattle-temple.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#temple-desc div {
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 1rem;
  max-width: 200px;
  padding: 1rem;
}

#temple-desc .caption {
  margin: 1rem;
  color: white;
}

/* ============= WEATHER STYLING ============= */

#current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

#current-weather p {
  text-align: end;
  margin: 1rem;
}

#current-weather h5 {
  font-size: 200%;
  text-align: start;
  margin: 1rem;
}

.daily-temps div {
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.daily-temps h3 {
  font-size: 200%;
  margin: 1rem;
  color: white;
  text-shadow: 0 0 2px black;
}

.daily-temps h5 {
  font-size: 200%;
  margin: 1rem;
  color:white;
  text-shadow: 0 0 2px black;
}

.notif {
  z-index: 2;
  padding: 1rem;
  width: 100%;
  background-color: #ff928b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
}

.notif h4 {
  margin: .5rem 1rem;
}

.notif button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 150%;
  margin: .5rem 1rem;
}

.hidden {
  position: absolute;
  top: -200px;
}


/* ============= FOOTER STYLING ============= */

.social {
  display: flex;
  flex-direction: column;
}

.social img {
  max-height: 100px;
}

.social2,
.social3 {
  background-color: inherit;
}

.social a {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95%;
}

.social a p {
  word-wrap: break-word;
}

.social h4,
.social img,
.social a {
  margin: 1rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: auto;
  max-width: 250px;
  border-top: 1px solid black;
}

.info a {
  color: rgb(145, 170, 203);
  margin: .5rem;
}

.info p {
  margin: .3rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: var(--yellow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer p,
footer a {
  margin: 1rem 0;
}

/* ============= GOOGLE MAP STYLING ============= */

.mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: 400px;
  max-width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none!important;
  height: 300px;
  width: 400px;
  max-width: 100%;
}

iframe {
  border: none;
}


/* ============= RESERVATIONS PAGE STYLING ============= */

.res-hero {
  background-image: url("../images/index/hotel.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  padding: 2rem;
}

.res-hero h1 {
  border: none;
  color: white;
  text-shadow: 0 0 5px black;
}

.res-back {
  background-color: var(--yellow);
  padding: 2rem;

}

.res-form h3 {
  font-size: 150%;
  margin-top: 4rem;
}

.res-form div {
  padding: 2rem 2rem 4rem;
}

hr {
  border: 1px solid black;
}

.radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.radio label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

.radio input {
  position: absolute;
  left: -9999px;
}

.radio input:checked + span {
  background-color: #b9cffe;
}

.radio input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}

.radio span {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 99em;
  transition: 0.25s ease;
}

.radio span:hover {
  background-color: #b9cffe;
}

.radio span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}

.dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dates label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dates span,
.party span {
  padding: 1rem;
  font-size: 120%;
}

.dates input {
  width: 225px;
  height: 50px;
  font-size: 150%;
  border-radius: 15px;
  text-align: center;
}

.party label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.party input {
  width: 100px;
  height: 60px;
  font-size: 200%;
  border-radius: 15px;
  text-align: center;
}

.res-form img {
  height: 40px;
  margin: 10px;
  display: none;
}

.cap {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user-info,
.end-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.user-info span {
  font-size: 120%;
}

.user-info input {
  width: 225px;
  height: 40px;
  margin: 1rem;
  border-radius: 15px;
  text-align: center;
}

.user-info textarea {
  width: 225px;
  max-width: 225px;
  min-width: 225px;
  min-height: 60px;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
}

.res-form input:required:valid ~ img {
  display: inline;
}

.res-form .submit {
  padding: 1rem 2rem;
  background-color: var(--green);
  border: 2px solid black;
  border-radius: 15px;
  font-size: 130%;
}

.res-form .submit:hover {
  background-color: var(--pink);
}


/* ============= THANK YOU PAGE STYLING ============= */

.thanks {
  border: 1px solid black;
  border-radius: 20px;
  padding: 3rem;
}

.thanks h1 {
  border: none;
}

.thanks p {
  text-align: center;
}

.thanks span {
  font-family: inherit;
}


/* ============= TEMPLES PAGE STYLING ============= */

#temple-grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
}

.card {
  margin: auto;
  padding: 1rem;
  border: 2px solid black;
  background-color: var(--peach);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

#temple-grid img {
  width: 100%;
  border-radius: 15px;
  margin: auto;
}

#temple-grid h3 {
  font-size: 200%;
}

#temple-grid h4 {
  font-size: 150%;
  margin: 1rem;
}

#temple-grid p {
  margin: .5rem;
}

#temple-grid h4,
#temple-grid p {
  text-align: center;
}

.contactDiv {
  background-color: whitesmoke;
  border: 3px solid black;
  border-radius: 15px;
  padding: 2rem;
}

.heartBtn {
  position: relative;
  top: -60px;
  left: 10px;
  max-width: 50px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


/* ============= SERVICES PAGE STYLING ============= */

#service img {
  width: 100%;
  margin: auto;
}

#service ul {
  margin: auto;
  max-width: 30rem;
}

#service h1 {
  max-width: 40rem;
  padding: 2rem;
}

#service hr {
  width: 80%;
  max-width: 50rem;
}

#service li {
  padding: 1rem;
  font-size: 125%;
  line-height: 130%;
  list-style-type: none;
  text-align: center;
}


/* ============= MISSIONARY PAGE STYLING ============= */

#missionary h1 {
  padding: 2rem 0;
}

#missionary h3 {
  font-size: 150%;
}

ul.big li {
  padding: 1rem;
  margin-left: 10%;
}

#missionary .first {
  background-image: url("../images/missionary/hotel-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#missionary .second {
  background-image: url("../images/missionary/hotel-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#missionary .third {
  background-image: url("../images/missionary/study-room.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#missionary .grid-3 div {
  margin: 1rem 0;
  min-height: 300px;
}

.mis-form {
  border: 2px solid black;
  background-color: var(--yellow);
}

.mis-form h2 {
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
}

.mis-form img {
  height: 40px;
  margin: 10px;
  display: none;
}

.mis-form input:required:valid ~ img {
  display: inline;
}

.mis-form .submit {
  padding: 1rem 3rem;
  background-color: var(--green);
  border: 2px solid black;
  border-radius: 15px;
  font-size: 130%;
}

.mis-form .submit:hover {
  background-color: var(--pink);
}


/* ============= RECEPTIONS PAGE STYLING ============= */

.rec-hero {
  margin-top: -202px;
  min-height: 500px;
  padding: 2rem;
  background-image: url("../images/reception/reception-1.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.rec-hero h1 {
  margin: 10rem auto;
  color: white;
  text-shadow: 0 0 5px black;
  border: none;
}

#reception li {
  padding: 1rem 3rem;
  font-size: 125%;
  line-height: 130%;
  list-style-type: none;
  text-align: center;
}

h2.thick {
  padding: 2rem;
}