
@media only screen and (min-width: 70rem) {

  #temple-grid {
    width: 95%;
    max-width: none;
    grid-template-columns: 1fr 1fr;
  }

  .foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .contact {
    max-width: none;
    width: 95%;
    justify-content: center;
  }

  .info {
    border: none;
    margin: 3rem;
  }

  .rec-hero,
  .res-hero {
    font-size: 120%;
  }

  .res-form h3 {
    font-size: 200%;
  }

}