
@media only screen and (min-width: 52rem) {

  .header {
    flex-direction: row;
  }

  header form {
    flex-direction: row;
  }

  header img {
    margin: 1rem 0;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 150px 150px;
    gap: 8px;
  }

  .grid-3 div {
    height: auto;
  }

  .first {
    grid-column: 1;
    grid-row: 1/3;
  }

  .second {
    grid-column: 2;
    grid-row: 1;
  }
  
  .third {
    grid-column: 2;
    grid-row: 2;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .grid-2 div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .grid-2 img {
    display: inherit;
  }

  #temple-desc {
    height: 500px;
  }

  #current-weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  
  .daily-temps .first {
    justify-content: flex-start;
  }

  .daily-temps .first h3 {
    margin-top: 3rem;
  }

  .daily-temps .first h5 {
    font-size: 400%;
  }

  .social {
    font-size: 150%;
  }

  .social1 {
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
  }
  
  .social2 {
    justify-content: center;
  }
  
  .social3 {
    justify-content: flex-end;
  }

  .social a {
    flex-direction: row;
  }

  .contact {
    flex-direction: row;
  }

  footer {
    flex-direction: row;
  }

  .radio,
  .dates,
  .party,
  .user-info label {
    flex-direction: row;
  }

  .party .radio {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
  }

  .card {
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
  }

  ul.big li {
    font-size: 150%;
  }

  #missionary .grid-3 div {
    margin: 0;
    min-height: 0;
  }

  .mis-form {
    border-radius: 20px;
  }

  .rec-hero {
    margin-top: -45px;
  }


}