
html {
  background-color: #999;
}

body {
  background-color: azure;
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px black;
  text-align: center;
  word-wrap: break-word;
}

h1 {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#current-temp {
  color: blue;
}

#icon-src {
  color: rgba(0, 0, 0, 0.5);
}

figcaption {
  font-style: italic;
}